.footer {
  display: flex;
  justify-content: center;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  color: white;
  font-size: 12px;
  text-align: center;
  align-items: center;
  background-color: black;
  width: 100%;
  padding: 20px;
  margin-top: 25px;
  box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho total */
}
